th, td{
border: 1px solid black;
height: 75px;
    width: 100px
;
}  

table{
    border: 1px solid black;
    
}

th{
    background-color: rgb(0, 157, 255);
}

.month{
    display: flex;
    justify-content: center;
}

.calendar_grid{
    display: flex;
    justify-content: center;
}

.text_box_test{
    width: 500px;
}


.text {
    width: 70%;
}